<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->
<ul>
  {{#each client_dog}}
    <li>
      <p>Breed: {{dog_breed}}</p>
      <p>client_name: {{client_name}}</p>
      <p>Age: {{age}}</p>
      <p>Friendliness: {{friendliness}}</p>
      <p>client_notes: {{client_notes}}</p>
    </li>
  {{/each}}
</ul>
