<!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Dog House</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/my-account">My Account</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/story">Our Story</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/team">The Team</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/registration">Registration</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead --> 
    <div id="homepagecarousel" class="carousel slide homepagecarousel team_s" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/login.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-caption d-md-block">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">{{title}}</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5" style="font-weight: bold">Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Login Forms-->
    <section class="page-section bg-light" id="LOGIN">
        <div class="container">
            <div class="login_se">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6">
                        <form id="dogForm">
                            <h3 class="text-center">Dog {{title}}</h3>
                            <input type="hidden" id="dogId" value={{id}} />
                            <div class="form-group">
                                <input type="text" id="dog_name" class="form-control" placeholder="Dog name*" name="dog_name"  value={{dog_name}} />
                            </div>
                             <div class="form-group">
                                <input type="text" id="breed" class="form-control" placeholder="Breed*" name="breed"  value={{breed}} />
                            </div>
                             <div class="form-group">
                                <input type="text" id="age" class="form-control" placeholder="Age*" name="age" value={{age}} />
                            </div>
                             <div class="form-group">
                                <input type="text" id="food_requirements" class="form-control" placeholder="Food Requirements*" name="food_requirements" value={{food_requirements}} />
                            </div>
                             <div class="form-group">
                                <input type="text" id="friendliness" class="form-control" placeholder="friendliness*" name="friendliness" value={{friendliness}} />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-xl btnSubmit">{{title}}</button>
                            </div>
                          
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
     <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright © 2021 - Team Dog House</div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
 --}}
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/login.js"></script>
<script>
    $("#dogForm").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    console.log($("#dogId").val())
    if($("#dogId").val() != "/"){
        url = "/api/dogs/"+$("#dogId").val();
        method = "PUT"
    }else{
        url = "/api/dogs/";
        method = "POST"
    }     
    console.log(form.serialize());
    console.log(method)
        $.ajax({
           type: method,
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               window.location.href='http://localhost:8080/my-account';
           },failure:function(erro){
               console.log(erro)
           }
         });

    
});
</script>